<IfModule authz_core_module>
  Require all denied
  <FilesMatch ".(css|js|map|cur|ico|jpe?g|a?png|gif|svgz?|webp|mp3|mp4|ogg|webm|eot|otf|tt[cf]|woff2?)$">
    Require all granted
  </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
  Deny from all
  <FilesMatch ".(css|js|map|cur|ico|jpe?g|a?png|gif|svgz?|webp|mp3|mp4|ogg|webm|eot|otf|tt[cf]|woff2?)$">
    Allow from all
  </FilesMatch>
</IfModule>
