# Junk Files
.DS_Store

# Cache
application/cache/*
!application/cache/index.html

# Configs
application/config/*

# Logs
application/logs/*
!application/logs/index.html

# htaccess
!application/*/.htaccess

# Uploads
uploads/

# Composer
vendor/
composer.lock

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/
