.DS_Store

application/cache/*
!application/cache/index.html

# Configuration files
application/config/config.php
application/config/blizzcms.php
application/config/database.php
application/config/plus.php

migration/*

application/logs/*
!application/logs/index.html

!application/*/.htaccess

# Icons
assets/icons/*

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/migration/*
application/config/blizzcms.php
application/config/routes.php
migration
migration/*
index.php
application/config/database.php
application/config/blizzcms.php
